<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>

{% extends "base.html" %}

{% block content %}


<div class="w3-sidebar w3-bar-block w3-light-grey w3-animate-opacity" height="175px" style="display:none" id="mySidebar">
    <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
    <a href="/index" class="w3-bar-item w3-button">Map</a>
    <a href="/about" class="w3-bar-item w3-button">About</a>
    <a href="/resources" class="w3-bar-item w3-button">Resources</a>
</div>

<div class="w3" style="z-index:101">
    <button class="w3-button w3 w3-xlarge" onclick="w3_open()">☰</button>
</div>

<div class="w3-display-container">
    <img src="https://www.kent.edu/sites/default/files/styles/normal_banner/public/administrative-group/policy.jpg"
    style="width:100%;height:550px">
</div>


<div class="about">
    <header class="w3-container w3-center"> 
        <h1><b>ABOUT</b></h1>
        <p style="font-size: 24;">Learn about how our app started!</ph>
    </header>   

    <div class="w3-display-container" style="position:fixed;height:100px;width:275px;bottom:250px;left:1950px;">
        
    </div>
    <div class="w3-card-4" style="padding:10px">
        <img src="../static/resources/clairecoder.jpg" style="width:255px;right:10px" alt="Person"> 
        <h4><b>Claire Coder</b></h4>
        <p>CEO and Founder of Aunt Flow</p>
    </div>
    

    <p>
    Our mission is to provide users access to the nearest locations of 
    menstruation dispensers on their college campus.
    </p>

    <p>
    The goal of this project is to help students have easier ways to access menstruation products, regardless of their financial situation.</br>
    About Aunt Flow: Aunt Flow was founded in Columbus, Ohio in 2016 by Claire Coder. 
    The Company sells dispensers that hold both tampons and pads. 
    Their slogan is: “ Toilet paper is offered for free, why aren't tampons? 
    People helping people. Period.”. Their mission is to provide 100% organic 
    cotton menstrual products for people and businesses.
    </p>

    <p style="top:5000px">I dropped out of college to launch Aunt Flow.  Headquarter in Ohio, Aunt Flow ensures every 
    bathroom outside the home is stocked with freely accessible menstrual products. Four years 
    of grit and hustle has positioned Aunt Flow to sell to hundreds of companies and schools, 
    raise venture capital from top firms, and give back 500,000 menstrual products to people in need.</p>

    <p>About Period Project: The Period Project is an initiative started on Kent's Campus in 2016 to bring free menstrual products to Kent State. 
        Through work with The Women's Center, Aunt Flow, and University Facilities, Undergraduate Student Government has been able to allocate over
        $30,000+ towards funding the initiative. The menstrual products are currently located in 18 campus restrooms (men, women, and universal bathrooms).</p>
    </a>
</div>
<script>
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
    }
    
    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    }
</script>

{% endblock %}
