<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-database.js"></script>

<script>
    
    
    var firebaseConfig = {
      apiKey: "AIzaSyCrA1YkQJU9lf1tunCNYayg67QKhOQXEok",
      authDomain: "flowforyou-82126.firebaseapp.com",
      databaseURL: "https://flowforyou-82126.firebaseio.com",
      projectId: "flowforyou-82126",
      storageBucket: "flowforyou-82126.appspot.com",
      messagingSenderId: "464936460609",
      appId: "1:464936460609:web:f0c0b73b51ee20498001c0"
    };
    // Initialize Firebase
    //make parameters with values to pass into createDispenserData function, then pass in reference, id, status, and data variables to function
    //function will then push this data via the ref variable to the database
    firebase.initializeApp(firebaseConfig);
    console.log(firebase);
    var database = firebase.database();

    var ATBref1 = database.ref('database/Aeronautics and Technology Building/dispensers/dispenser1');
    var ATBref2 = database.ref('database/Aeronautics and Technology Building/dispensers/dispenser2');
    var BowmanRef1 =  database.ref('database/Bowman Hall/dispensers/dispenser1');
    var BowmanRef2 =  database.ref('database/Aeronautics and Technology Building/dispensers/dispenser2');
    var BowmanRef3 =  database.ref('database/Aeronautics and Technology Building/dispensers/dispenser3');
    var BusinessAdminBuildingRef1 =  database.ref('database/Business Administration Building/dispensers/dispenser1');
    var BusinessAdminBuildingRef2 =  database.ref('database/Business Administration Building/dispensers/dispenser2');
    var CartwrightHallRef1 = database.ref('database/Cartwright Hall/dispensers/dispenser1');
    var CartwrightHallRef2 = database.ref('database/Cartwright Hall/dispensers/dispenser2');
    var CFAEDRef1 = database.ref('database/Center for Architecture and Environmental Design/dispensers/dispenser1');
    var CFAEDRef2 = database.ref('database/Center for Architecture and Environmental Design/dispensers/dispenser2');
    var CFAEDRef3 = database.ref('database/Center for Architecture and Environmental Design/dispensers/dispenser3');
    var CUERef1 = database.ref('database/Center for Undergraduate Excellence/dispensers/dispenser1');
    var CUERef2 = database.ref('database/Center for Undergraduate Excellence/dispensers/dispenser2');
    var CUERef3 = database.ref('database/Center for Undergraduate Excellence/dispensers/dispenser3');
    var CVARef1 = database.ref('database/Center for the Visual Arts/dispensers/dispenser1');
    var CVARef2 = database.ref('database/Center for the Visual Arts/dispensers/dispenser2');
    var CunninghamRef1 = database.ref('database/Cunningham Hall/dispensers/dispenser1');
    var CunninghamRef2 = database.ref('database/Cunningham Hall/dispensers/dispenser2');
    var CunninghamRef3 = database.ref('database/Cunningham Hall/dispensers/dispenser3');
    var FranklinRef1 = database.ref('database/Franklin Hall/dispensers/dispenser1');
    var FranklinRef2 = database.ref('database/Franklin Hall/dispensers/dispenser2');
    var FranklinRef3 = database.ref('database/Franklin Hall/dispensers/dispenser3');
    var HendersonRef1 = database.ref('database/Henderson Hall/dispensers/dispenser1');
    var HendersonRef2 = database.ref('database/Henderson Hall/dispensers/dispenser2');    
    var ISBWHRef1 = database.ref('database/integrated Science Building and Williams Hall/dispensers/dispenser1');
    var ISBWHRef2 = database.ref('database/integrated Science Building and Williams Hall/dispensers/dispenser2');
    var ISBWHRef3 = database.ref('database/integrated Science Building and Williams Hall/dispensers/dispenser3');
    var KentHallRef1 = database.ref('database/Kent Hall/dispensers/dispenser1');
    var KentHallRef2 = database.ref('database/Kent Hall/dispensers/dispenser2');
    var CenterForPerformingArtsRef1 = database.ref('database/Kent State Center for Performing Arts/dispensers/dispenser1');
    var CenterForPerformingArtsRef2 = database.ref('database/Kent State Center for Performing Arts/dispensers/dispenser2');
    var CenterForPerformingArtsRef3 = database.ref('database/Kent State Center for Performing Arts/dispensers/dispenser3');
    var KentStudentCenterRef1 = database.ref('database/Kent Student Center/dispensers/dispenser1');
    var KentStudentCenterRef2 = database.ref('database/Kent Student Center/dispensers/dispenser2');
    var KentStudentCenterRef3 = database.ref('database/Kent Student Center/dispensers/dispenser3');
    var KentStudentCenterRef4 = database.ref('database/Kent Student Center/dispensers/dispenser4');
    var LowryHallRef = database.ref('database/Lowry Hall/dispensers/dispenser1');
    var MACCRef = database.ref('database/MACC Annex/dispensers/dispenser1');
    var MathCompSciRef1 = database.ref('database/Math and Computer Science Building/dispensers/dispenser1');
    var MathCompSciRef2 = database.ref('database/Math and Computer Science Building/dispensers/dispenser2');
    var McGilveryRef = database.ref('database/McGilvery Hall/dispensers/dispenser1');
    var MerrillHallRef = database.ref('database/Merrill Hall/dispensers/dispenser1');
    var MoultonHallRef1 = database.ref('database/Moulton Hall/dispensers/dispenser1');
    var MoultonHallRef2 = database.ref('database/Moulton Hall/dispensers/dispenser2');
    var NixsonHallRef1 = database.ref('database/Nixson Hall/dispensers/dispenser1');
    var NixsonHallRef2 = database.ref('database/Nixson Hall/dispensers/dispenser2');
    var OscarRichieHallRef = database.ref('database/Oscar Richie Hall/dispensers/dispenser1');
    var RockwellHallRef = database.ref('database/Rockwell Hall/dispensers/dispenser1');
    var SatterfieldRef = database.ref('database/Satterfield/dispensers/dispenser1');
    var SmithHallRef1 = database.ref('database/Smith Hall/dispensers/dispenser1');
    var SmithHallRef2 = database.ref('database/Smith Hall/dispensers/dispenser2');
    var StudentWellnessRef1 = database.ref('database/Student Wellness Center/dispensers/dispenser1');
    var StudentWellnessRef2 = database.ref('database/Student Wellness Center/dispensers/dispenser2');
    var StudentWellnessRef3 = database.ref('database/Student Wellness Center/dispensers/dispenser3');
    var TaylorHallRef1 = database.ref('database/Taylor Hall/dispensers/dispenser1');
    var TaylorHallRef2 = database.ref('database/Taylor Hall/dispensers/dispenser2');
    var UniversityLibRef1 = database.ref('database/University Library/dispensers/dispenser1');
    var UniversityLibRef2 = database.ref('database/University Library/dispensers/dispenser2');
    var UniversityLibRef3 = database.ref('database/University Library/dispensers/dispenser3');
    var UniversityLibRef4 = database.ref('database/University Library/dispensers/dispenser4');
    var WhiteHallRef = UniversityLibRef1 = database.ref('database/White Hall/dispensers/dispenser1');
    
    //create variables for references, ids, restrooms, status, and data containing all that info
    
    var MenRestroom = "Men First Floor Restroom";
    var WomenRestroom = "Women First Floor Restroom";
    var UniversalRestroom = "Universal First Floor Restroom";
    var UniversalThirdFloorRestroom = "Universal Third Floor Restroom";
    var MenLockerRoom = "Men's Lower Level Locker Room Restroom";
    var WomenLockerRoom = "Women's Lower Level Locker Room Restroom";
    var UniversalLockerRoom = "Universal Lower Level Locker Room";
    var UniversalLowerLevelRestroom = "Universal Lower Level Restroom";
    var restroomNA = "N/A";
    var MenMultiRestroom = "Men's First Floor Multi Restroom";
    var WomenMultiRestroom = "Women's First Floor Multi Restroom";
    var UniversalMultiRestroom = "Universal Multi Restroom"
    var MenSecondFloorRestroom = "Men's Second Floor Restroom";
    var WomenSecondFloorRestroom = "Women's Second Floor Restroom";
    var WomenThirdFloorRestroom = "Women's Third Floor Restroom";
    var WomenSecondFloorMultiRestroom = "Women's Second Floor Multi Restroom";
    var MenThirdFloorRestroom = "Men's Third Floor Restroom";
    var WomenResearchWingRestroom = "Women's First Floor Research Wing Restroom";
    var MenResearchWingRestroom = "Men's First Floor Research Wing Restroom";
    
    var id1 = "1";
    var id2 = "2";
    var id3 = "3";
    var id4 = "4";
    var FullStatus = "full";
    var EmptyStatus = "empty";
    var NearEmptyStatus = "almost empty";


    function createDispenserData(ref, id, restroom, status) {
        var data = {
            Location: restroom,
            ID: id,
            Status: status
        }
        ref.push(data);
    }
    
    createDispenserData(ATBref1, id1, WomenMultiRestroom, FullStatus);
    createDispenserData(ATBref2, id2, MenRestroom, FullStatus);
    createDispenserData(StudentWellnessRef1, id1, WomenLockerRoom, FullStatus);
    createDispenserData(StudentWellnessRef2, id2, MenLockerRoom, FullStatus);
    createDispenserData(StudentWellnessRef3, id3, UniversalLockerRoom, FullStatus);
    createDispenserData(HendersonRef1, id1, WomenRestroom, FullStatus);
    createDispenserData(HendersonRef2,id2, UniversalRestroom, FullStatus);
    createDispenserData(MathCompSciRef1, id1, WomenRestroom, FullStatus);
    createDispenserData(MathCompSciRef2, id2, MenRestroom, FullStatus);
    createDispenserData(CunninghamRef1, id1, WomenResearchWingRestroom, FullStatus);
    createDispenserData(CunninghamRef1, id2, MenResearchWingRestroom, FullStatus);
    createDispenserData(CunninghamRef1, id3, UniversalRestroom, FullStatus);
    createDispenserData(SmithHallRef1, id1, MenRestroom, FullStatus);
    createDispenserData(SmithHallRef2, id2, UniversalRestroom, FullStatus);
    createDispenserData(ISBWHRef1, id1, WomenMultiRestroom, FullStatus);
    createDispenserData(ISBWHRef2, id2, MenMultiRestroom, FullStatus);
    createDispenserData(ISBWHRef3, id3, UniversalRestroom, FullStatus);
    createDispenserData(UniversityLibRef1, id1, WomenMultiRestroom, FullStatus);
    createDispenserData(UniversityLibRef2, id2, WomenSecondFloorMultiRestroom, FullStatus);
    createDispenserData(UniversityLibRef3, id3, MenMultiRestroom, FullStatus);
    createDispenserData(UniversityLibRef4, id4, UniversalRestroom, FullStatus);
    createDispenserData(KentStudentCenterRef1, id1, WomenMultiRestroom, FullStatus);
    createDispenserData(KentStudentCenterRef2, id2, WomenSecondFloorMultiRestroom, FullStatus);
    createDispenserData(KentStudentCenterRef3, id3, MenMultiRestroom, FullStatus);
    createDispenserData(KentStudentCenterRef4, id4, MenThirdFloorRestroom, FullStatus);
    createDispenserData(MACCRef, id1, WomenSecondFloorRestroom, FullStatus);
    createDispenserData(CUERef1, id1, WomenRestroom, FullStatus);
    createDispenserData(CUERef2, MenRestroom, id2, FullStatus);
    createDispenserData(CUERef3, id3, UniversalRestroom, FullStatus);
    createDispenserData(BowmanRef1, id1, WomenRestroom, FullStatus);
    createDispenserData(BowmanRef2, id2, MenRestroom, FullStatus);
    createDispenserData(BowmanRef3, id3, UniversalLowerLevelRestroom, FullStatus);
    createDispenserData(SatterfieldRef, id1, WomenRestroom, FullStatus);
    createDispenserData(TaylorHallRef1, id1, WomenRestroom, FullStatus);
    createDispenserData(TaylorHallRef2, id2, UniversalLowerLevelRestroom, FullStatus);
    createDispenserData(BusinessAdminBuildingRef1, id1, WomenRestroom, FullStatus);
    createDispenserData(BusinessAdminBuildingRef2, id2, UniversalRestroom, FullStatus);
    createDispenserData(CVARef1, id1, WomenRestroom, FullStatus);
    createDispenserData(CVARef2, id2, UniversalLowerLevelRestroom, FullStatus);
    createDispenserData(CenterForPerformingArtsRef1, id1, WomenRestroom, FullStatus);
    createDispenserData(CenterForPerformingArtsRef2, id2, MenRestroom, FullStatus);
    createDispenserData(CenterForPerformingArtsRef3, id3, UniversalRestroom, FullStatus);
    createDispenserData(NixsonHallRef1, id1, WomenRestroom, FullStatus);
    createDispenserData(NixsonHallRef2, id2, UniversalLowerLevelRestroom, FullStatus);
    createDispenserData(WhiteHallRef, id1, WomenRestroom, FullStatus);
    createDispenserData(MoultonHallRef1, id1, WomenRestroom, FullStatus);
    createDispenserData(MoultonHallRef2, id2, MenRestroom, FullStatus);
    createDispenserData(LowryHallRef, id1, WomenRestroom, FullStatus);
    createDispenserData(MerrillHallRef, id1, WomenThirdFloorRestroom, FullStatus);
    createDispenserData(CartwrightHallRef1, id1, WomenSecondFloorRestroom, FullStatus);
    createDispenserData(CartwrightHallRef2, id2, MenSecondFloorRestroom, FullStatus);
    createDispenserData(KentHallRef1, id1, WomenSecondFloorRestroom, FullStatus);
    createDispenserData(KentHallRef2, id2, UniversalLowerLevelRestroom, FullStatus);
    createDispenserData(McGilveryRef, id1, WomenThirdFloorRestroom, FullStatus);
    createDispenserData(CFAEDRef1, id1, WomenRestroom, FullStatus);
    createDispenserData(CFAEDRef2, id2, MenRestroom, FullStatus);
    createDispenserData(FranklinRef1, id1, WomenRestroom, FullStatus);
    createDispenserData(FranklinRef2, id2, MenRestroom, FullStatus);
    createDispenserData(FranklinRef3, id3, UniversalThirdFloorRestroom, FullStatus);
    createDispenserData(RockwellHallRef, id1, WomenRestroom, FullStatus);
    createDispenserData(OscarRichieHallRef, id1, WomenRestroom, FullStatus);
    </script>

          
{% extends "base.html" %}

{% block content %}


<script>
 function initMap() {

    function getUserLocation(){
        if (navigator.geolocation) {
            //console.log("am able to get position");
            navigator.geolocation.getCurrentPosition(function(position) {
                result = { 
                    //temporary fake location, comment this and uncomment next two lines for actual location use
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(result);
                
                infoWindow.setContent('Your Location');

                myLocMarker["position"] = new google.maps.LatLng(result["lat"], result["lng"]);
                myLocMarker["icon"] = "../static/resources/pinRed.png";

                infoWindow.open(map, myLocMarker);
                map.setCenter(result);

                locationSuccessful();

            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });

        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
        //console.log("this is result at line 93: " + result);
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed. Please turn on geolocation and refresh.' :
                        'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
    }

    //now time to actually find the closest dispenser
    function findShortestDistance(distanceJson, originLoc) {
        console.log("we already did the query right?");
        distances = distanceJson["rows"][0]["elements"];
        //console.log(distances);

        var closestDispenser = distances[0];
        var closestDispenserNumber = 0;
        console.log(closestDispenser);
        for(var i = 0; i < distances.length; ++i){
            if(distances[i]["distance"]["value"] < closestDispenser["distance"]["value"]){
                console.log(distances[i]["distance"]["value"] + "<" + closestDispenser["distance"]["value"]);
                closestDispenser = distances[i];
                closestDispenserNumber = i;
            } else {
                console.log(distances[i]["distance"]["value"] + ">=" + closestDispenser["distance"]["value"]);
            }
        }
        console.log(closestDispenser);


        //now time to display it!
        infowindow.setContent(dispensers[closestDispenserNumber][3] + closestDispenser["distance"]["text"]);
        marker = markerList[closestDispenserNumber];
        infowindow.open(map, marker);

        calculateAndDisplayRoute(directionsService, directionsRenderer, originLoc, dispensers[closestDispenserNumber]);
    }

    function getDistances(originLoc, query) {
        var distanceJson;
        //distance matrix query called to get walking distance from location to each dispenser
        dms.getDistanceMatrix(query, function(response, status) {
            if (status == "OK") {
                //populateTable(response.rows);
                //replace this later with function that will display the closest dispenser
                console.log(status);
                console.log(response);
                distanceJson = response;
                findShortestDistance(distanceJson, originLoc);
            } else {
                console.log(response + " " + status);
            }
        });
    }

    function calculateAndDisplayRoute(directionsService, directionsRenderer, originLoc, destLoc) {
        //testing in the console whether we actually got useful information
        console.log("from " + originLoc);
        console.log("to " + destLoc[1] + "," + destLoc[2]);
        console.log(destLoc);
        // Lorigin = string(originLoc);
        Ldest = destLoc[1] + "," + destLoc[2];
        directionsService.route(
            {
            origin: originLoc.toString(),
            destination: Ldest.toString(),
            travelMode: 'WALKING'
            },
            function(response, status) {
            if (status === 'OK') {
                directionsRenderer.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
        var locURL = `https://www.google.com/maps/dir/${originLoc.toString()}/${Ldest.toString()}`;
        infoWindow.setContent(`Your location<br/><a href=${locURL}>Directions</a>`);
        infoWindow.open(map, myLocMarker);
        console.log(`https://www.google.com/maps/dir/${originLoc.toString()}/${Ldest.toString()}`);
    }


    //this runs the rest of the code on the outcome that the location grabbing was successful
    //needed because location is async function
    function locationSuccessful(){
        var pos = result;
        console.log("pos is now this: " + pos);

        //api limits number of dests in single query to 25
        var dispenserCheckAmt = 25;

        //create array of dispenser locations for distance matrix api
        var dispenserLocs = [];
        for (var i = 0; i < dispenserCheckAmt; ++i){
            dispenserLocs.push(dispensers[i][1] + "," + dispensers[i][2]);
        }
        console.log(dispenserLocs);
        console.log(pos);
        //set origin location based on postition
        var originLoc = [];
        //originLoc.push(pos["lat"] + "," + pos["lat"]);
        originLoc.push(pos["lat"]+","+pos["lng"]);

        //specifications for shortest distance calling
        var query = {
            origins: originLoc,
            destinations: dispenserLocs,
            travelMode: google.maps.TravelMode.WALKING,
            unitSystem: google.maps.UnitSystem.IMPERIAL
        };

        getDistances(originLoc, query);
    }

        
    var dispensers = [
        
        ['Student Recreation Center', 41.141588, -81.340043, '<h1><b>Student Recreation and Wellness Center</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Information:</b>' + ' Located in the basement locker rooms.</p>'
        + '<p><b>More Information:</b>' + '<a href="https://www.kent.edu/recservices">'+
        ' https://www.kent.edu/recservices</a>'],

        ['Aeronautics and Technology Building', 41.144371, -81.341203, '<h1><b>Aeronautics and Technology Building</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['Math and Computer Science Building', 41.145092, -81.341406, '<h1><b>Math and Computer Science Building</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female and Male</p>'],

        ['Henderson Hall', 41.145236, -81.340086, '<h1><b>Henderson Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['Cunningham Hall', 41.146039, -81.341202, '<h1><b>Cunningham Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor, Research Wing.</p>'
        + '<p><b>Gender:</b>' + ' Female and Male</p>'],

        ['Smith Hall', 41.145756, -81.342094, '<h1><b>Smith Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['Intergrated Science Building and Williams Hall', 41.149385, -81.342477, '<h1><b>Intergrated Science Building and Williams Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female and Male</p>'],

        ['University Library', 41.146864, -81.342036, '<h1><b>University Library</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Female dispensers located on the first and second floor. Male dispenser located on first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female and Male</p>'],
        
        ['Kent Student  Center', 41.147924, -81.342511, '<h1><b>Kent Student  Center</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Female dispensers located on the first and second floor. Male dispenser located on first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female and Male</p>'],

        ['MACC Annex', 41.147982, -81.344297, '<h1><b>MACC Annex</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first and second floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['Center for Undergraduate Excellence', 41.148670, -81.345013, '<h1><b>Center for Undergraduate Excellence</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female and Male</p>'],

        ['Bowman', 41.148580, -81.346597, '<h1><b>Bowman</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female and Male</p>'],

        ['Satterfield', 41.148173, -81.347669, '<h1><b>Satterfield</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['Taylor Hall', 41.150213, -81.344005, '<h1><b>Taylor Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['Business Administration Building', 41.149017, -81.348049, '<h1><b>Business Administration Building</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['Center for the Visual Arts', 41.150261, -81.347436, '<h1><b>Center for the Visual Arts</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['Kent State Center for Performing Arts', 41.152620, -81.340462, '<h1><b>Kent State Center for Performing Arts</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female and Male</p>'],

        ['Nixson Hall', 41.152083, -81.341841, '<h1><b>Nixson Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['White Hall', 41.152733, -81.345912, '<h1><b>White Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['Moulton Hall', 41.152966, -81.346684, '<h1><b>Moulton Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female and Male</p>'],

        ['Lowry Hall', 41.152117, -81.347261, '<h1><b>Lowry Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['Merrill Hall', 41.151542, -81.348165, '<h1><b>Merrill Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the all floors.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['Cartwright Hall', 41.151224, -81.348798, '<h1><b>Cartwright Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first and second floor.</p>'
        + '<p><b>Gender:</b>' + ' Female and Male</p>'],

        ['Kent Hall', 41.150930, -81.349428, '<h1><b>Kent Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first and second floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['McGilvery Hall', 41.150877, -81.350912, '<h1><b>McGilvery Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on all floors.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['Center for Architecture and Enviromental Design', 41.152496, -81.352119, '<h1><b>Center for Architecture and Enviromental Design</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female and Male</p>'],

        ['Franklin Hall', 41.151593, -81.350987, '<h1><b>Franklin Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the third floor.</p>'
        + '<p><b>Gender:</b>' + ' Female and Male</p>'],

        ['Rockwell Hall', 41.152810, -81.349923, '<h1><b>Rockwell Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],

        ['Oscar Richie Hall', 41.151435, -81.346570, '<h1><b>Oscar Richie Hall</b></h1>'
        + '<p id="dispenserInformation"><b>Dispenser Location:</b>' + ' Located on the first floor.</p>'
        + '<p><b>Gender:</b>' + ' Female</p>'],
        ];


        myLocMarker = new google.maps.Marker({
                    map: map
        });

        var result;
        var infowindow = new google.maps.InfoWindow();
        
        // Creates the map, centered on Kent State University
        var kent_State = {lat: 41.1406508, lng: -81.3461343};
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 18, center: kent_State, mapTypeControl:false});
    
        infoWindow = new google.maps.InfoWindow;

        // starts services to calculate distance between your location and dispensers
        dms = new google.maps.DistanceMatrixService();
        directionsService = new google.maps.DirectionsService();
        directionsRenderer = new google.maps.DirectionsRenderer({preserveViewport:true});
        
        directionsRenderer.setMap(map);

        // for testing when you're not on Kent's campus
        // simply set the pos variable below to testLocations[i] with i being 0 to 3
        var testPositions = [
            {lat:41.148161, lng:-81.344848}, // on williams drive
            {lat: 41.144162,lng: -81.341628}, // near aeronautics bldg
            {lat:41.147064, lng:-81.339513}, // on eastway drive
            {lat:41.149772, lng:-81.346146} //janik drive
        ];

        //list of markers for referencing later
        var markerList = [];

        for (i = 0; i < dispensers.length; i++) {  
            marker = new google.maps.Marker({
            position: new google.maps.LatLng(dispensers[i][1], dispensers[i][2]),
            map: map,
            icon: "../static/resources/pinBlue.png",
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
            infowindow.setContent(dispensers[i][3]);
            infowindow.open(map, marker);
            console.log(marker);
            }
            })(marker, i));

            //add marker to marker list
            markerList.push(marker);

        }

        getUserLocation();
}
function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
}
    
function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
}
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvsTV4dKJhgdtxt54eZ-bxLuxKI78kyZA&callback=initMap">

</script>



<div id="mapNavContainer">
    <div z-index="0" id="map"></div>
    <div class="w3-sidebar w3-bar-block w3-animate-opacity" style="display:none" id="mySidebar" height:50%>
        <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
        <a href="/index" class="w3-bar-item w3-button">Map</a>
        <a href="/about" class="w3-bar-item w3-button">About</a>
        <a href="/resources" class="w3-bar-item w3-button">Resources</a>
    </div>

    <div class="w3">
        <button class="w3-button w3 w3-xlarge w3-display-topleft" onclick="w3_open()">☰</button>
    </div>
</div>

{% endblock %}